doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type="text/javascript" src="/vendor/socket.io-client/socket.io.js")
    script(type="text/javascript" src="/vendor/adapter.js/samples/web/js/adapter.js")
    script(type="text/javascript" src="/javascripts/main.js")
